body,html{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    
}
.container{
    width:1500px;
    height: 1500px;
    display:flex;
    flex-direction: row;
}
.child1{
    width: 500px;
    margin: 4px;
    border: 2px solid black;
    background-color: brown;
}
.child2{
    margin: 4px;
    width:500px;
    border: 2px solid black;
    background-color: yellow;
}
.child3{
    margin:4px;
    
    width:500px;
    background-color:blue;
    border: 2px solid black;
}
