.parent{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.parent2{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
}
.parent3{
    position: absolute;
    left:50%;
    right: 0;
    top: 50%;
    bottom: 0;
    margin:auto;

}
