header{
    height: 80px;
    display: flex;
    width:100%;
    background-color: gray;
}
main{
    height: 400px;
    display: flex;
    flex-direction: column;
    margin:2px;
}
footer{
    height: 60px;
    background-color: blueviolet;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}
.nav a{
    float: left;
    display: block;
    text-align: center;
    padding: 15px; 
    color: black;
}
